argon2-cffi==25.1.0
fastapi==0.136.1
google_api_python_client==2.196.0
google_auth_oauthlib==1.4.0
itemadapter==0.3.0
groq==1.6.0
httpx==0.28.1
passlib==1.7.4
pydantic==2.13.4
python-dotenv==1.2.3
python-multipart==0.0.32
PyJWT==2.13.0
Scrapy==2.18.0
slowapi==0.1.9
SQLAlchemy==2.0.39
structlog==25.5.0
uvicorn==0.52.4
youtube_transcript_api==1.2.4
